# Python specific ignores

*.pyc
__pycache__/
*.pyo
*.pyd

# Environment specific ignores
venv/
env/
# Exclude .env file
.env
.venv/
.vscode/
.idea/
*.egg-info/
dist/
build/
*.egg
*.log
logs/

# Other common ignores

.DS_Store
*.swp
*~
