{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <!-- API Key Form -->
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label for="apikey">API Key</label>
                            <input id="apikey" name="apikey" type="text" class="form-control" placeholder="Enter your API key here...">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
